<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cantwellcode.fitfriend.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.cantwellcode.fitfriend.app.startup.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.cantwellcode.fitfriend.app.startup.DispatchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.startup.LogInActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.startup.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.nutrition.AddMeal"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.exercise.log.AddSwim"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.exercise.log.AddBike"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.exercise.log.AddRun"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.exercise.log.AddGym"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.plan.AddEvent"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.plan.EventDetails"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.connect.FriendsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.connect.ProfileActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.connect.SettingsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.cantwellcode.fitfriend.app.nutrition.NutritionFavoritesView"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
