<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cantwellcode.fitfriend" >

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <permission
        android:name="com.cantwellcode.fitfriend.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.cantwellcode.fitfriend.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".startup.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqOfXS-GK6JRwNe0eUrz9oprUSpAF3j-4" />

        <activity
            android:name=".startup.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startup.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plan.AddEvent"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".plan.EventDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connect.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connect.GoalsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nutrition.NutritionFavoritesView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exercise.log.NewWorkoutActivity"
            android:label="@string/title_activity_new_workout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".exercise.log.NewExerciseActivity"
            android:label="@string/title_activity_new_exercise"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".nutrition.NewFoodActivity"
            android:label="@string/title_activity_new_food"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".exercise.log.CreateExerciseActivity"
            android:label="@string/title_activity_create_exercise"
            android:screenOrientation="portrait" />
        <activity
            android:name=".friends.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connect.CreatePostActivity"
            android:label="@string/title_activity_create_post"
            android:screenOrientation="portrait" />
        <activity
            android:name=".connect.DiscussionActivity"
            android:label="@string/title_activity_discussion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".friends.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exercise.log.ExerciseStatsActivity"
            android:label="@string/title_activity_exercise_stats"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exercise.log.WorkoutViewActivity"
            android:label="@string/title_activity_workout_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchases.PurchasesActivity"
            android:label="@string/title_activity_purchases"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exercise.log.CardioActivity"
            android:label="@string/title_activity_cardio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".exercise.log.CardioViewActivity"
            android:label="@string/title_activity_cardio_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startup.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startup.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".startup.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/ic_launcher_white" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.cantwellcode.fitfriend" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
