<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitfriend.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.fitfriend.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.fitfriend.app.permission.C2D_MESSAGE" />

    <application
        android:name=".startup.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".startup.DispatchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_PERMISSIONS"
                android:resource="@array/my_facebook_permissions" />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".startup.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".nutrition.AddMeal"
            android:label="@string/app_name" />
        <activity
            android:name=".exercise.log.AddWorkout"
            android:label="@string/app_name" />
        <activity
            android:name=".plan.AddEvent"
            android:label="@string/app_name" />
        <activity
            android:name=".plan.EventDetails"
            android:label="@string/app_name" />
        <activity
            android:name=".connect.FriendsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".connect.ProfileActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".connect.SettingsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".connect.GoalsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".nutrition.NutritionFavoritesView"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.fitfriend.app" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".exercise.log.NewWorkoutActivity"
            android:label="@string/title_activity_new_exercise"
            android:parentActivityName=".startup.MainActivity"
            android:windowSoftInputMode="stateUnchanged">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fitfriend.app.startup.MainActivity" />
        </activity>
        <activity
            android:name=".exercise.log.NewExerciseActivity"
            android:label="@string/title_activity_new_routine"
            android:parentActivityName=".exercise.log.NewWorkoutActivity"
            android:windowSoftInputMode="stateUnchanged">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fitfriend.app.exercise.log.NewExerciseActivity" />
        </activity>
        <activity
            android:name=".exercise.log.ExerciseSetsActivity"
            android:label="@string/title_activity_routine_sets"
            android:parentActivityName=".exercise.log.NewExerciseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fitfriend.app.exercise.log.NewRoutineActivity" />
        </activity>
    </application>

</manifest>
